
$small: 400px;
$medium: 800px;
$large: 1200px;

$gray-lighter: #eeeeee;
$star-color: invert(95%) sepia(16%) saturate(6296%) hue-rotate(324deg) brightness(102%) contrast(102%);
$blue: rgb(51, 122, 183);
