/config/legacy/parameters.yaml
/config/legacy/samlstepupproviders.yaml
/config/legacy/samlstepupproviders_parameters.yaml
/config/legacy/global_view_parameters.yaml
/vendor/
/var/
/composer.phar
/cache.properties
/bin/*
!/bin/extract-translations.sh
!/bin/console
.idea
node_modules
public/build
npm-debug.log
yarn-error.log
/phpunit.xml
.phpunit.result.cache
/.phpcs-cache
.phpunit
.phpunit.result.cache
config/preload.php
local-php-security-checker
.env.*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
