{% extends "base.html.twig" %}

{% block page_title %}{{ 'ss.registration.email_verification_email_sent.title'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'registration/partial/progress_bar.html.twig' with {'progress': 50, 'step': 3, verifyEmail: true} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'ss.registration.email_verification_email_sent.text.email_verification_has_been_sent'|trans({'%email%': email}) }}</p>
{% endblock %}
