@import "../../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/bootstrap-fontawesome4.less";

// overriding the font path for correct loading.
@FontAwesomePath: "/fonts";
@fa-font-path: "/fonts";

.second-factor-selector {
    text-align: center;

    img {
        max-width: 200px;
        max-height: 90px;
    }
}

.progress-steps {
    font-size: 110%;
}

form[name="ss_prove_yubikey_possession"] {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 525px;

    input[type="text"] {
        text-align: center;
    }
}

form[name="ss_send_sms_challenge"] {
    margin: 1em auto;
    padding: 0.75em 1em;
    max-width: 325px;
}
