parameters:
    default_locale:    nl_NL
    locales:           [nl_NL]
    secret:            NotSoSecretReplaceMe!

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    gateway_api_url: https://gw-dev.stepup.coin.surf.net/
    gateway_api_username: ss
    gateway_api_password: ss
