parameters:
    default_locale:    en_GB
    locales:           [nl_NL, en_GB]
    secret:            NotSoSecretReplaceMe!

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    gateway_api_url: https://gw-dev.stepup.coin.surf.net/
    gateway_api_username: ss
    gateway_api_password: ss

    middleware_credentials_username: 'FOR CI ONLY, REPLACE WITH ACTUAL VALUE'
    middleware_credentials_password: 'FOR CI ONLY, REPLACE WITH ACTUAL VALUE'
    middleware_url_command_api: 'FOR CI ONLY, REPLACE WITH ACTUAL FULL URL http://etc/'
    middleware_url_api: 'FOR CI ONLY, REPLACE WITH ACTUAL FULL URL http://etc/'

    sms_originator: SURFStepup

    saml_sp_publickey:
    saml_sp_privatekey:

    saml_metadata_publickey:
    saml_metadata_privatekey:

    saml_remote_idp_entity_id:
    saml_remote_idp_sso_url:
    saml_remote_idp_certificate:
    graylog_hostname: g2-dev.stepup.coin.surf.net
