{% set wholeStars = level|number_of_whole_stars %}
{% set halfStar = level|half_star %}
{% set remainingStars = 3 - wholeStars %}
<span class="loa-star-rating" aria-label="{{ level }}">
{% if wholeStars > 0 %}
    {% for star in 1..wholeStars %}
        <img class="star" src="{{ asset('build/images/star.svg') }}" alt="">
    {% endfor %}
{% endif %}

{% if halfStar %}
<img class="star star-half" src="{{ asset('build/images/star-half.svg') }}" alt="">
{% set remainingStars = remainingStars - 1 %}
{% endif %}

{% if remainingStars > 0 %}
{% for star in 1..remainingStars %}
    <img class="star star-open" src="{{ asset('build/images/star-open.svg') }}" alt="">
{% endfor %}
{% endif %}
</span>
