{% extends "::base.html.twig" %}
{% import _self as macro %}

{% block page_title %}{{ 'ss.second_factor.remote_vet_validation.title'|trans }}{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'ss.second_factor.remote_vet.text.does_it_match'|trans }}</p>

    {{ form(form) }}
{% endblock %}
