{% extends "../../base.html.twig" %}

{% block page_title %}{{ 'ss.registration.self_asserted.recovery_token.title'|trans }}{% endblock %}

{% block page_header %}
    {{ parent() }}
    {% include 'registration/partial:progress_bar.html.twig' with {'progress':85, 'step': 5, verifyEmail: false} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    {{ message }}

{% endblock %}
