{% extends "::base.html.twig" %}

{% block page_title %}{{ 'ss.registration.selector.title.welcome'|trans({'%name%': commonName}) }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupSelfServiceSelfServiceBundle:Registration/partial:progressBar.html.twig' with {'progress': 1, 'step': 1} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <div class="row">
        {% if availableSecondFactors.sms is defined %}
            {% include 'SurfnetStepupSelfServiceSelfServiceBundle::Registration/partial/secondFactor.html.twig' with {
                'type': 'sms',
                'security': 2,
                'url': path('ss_registration_sms_send_challenge'),
                'tiqrAppAndroidUrl': tiqrAppAndroidUrl,
                'tiqrAppIosUrl': tiqrAppIosUrl,
            } only %}
        {% endif %}
        {% if availableSecondFactors.yubikey is defined %}
            {% include 'SurfnetStepupSelfServiceSelfServiceBundle::Registration/partial/secondFactor.html.twig' with {
                'type': 'yubikey',
                'security': 3,
                'url': path('ss_registration_yubikey_prove_possession'),
                'tiqrAppAndroidUrl': tiqrAppAndroidUrl,
                'tiqrAppIosUrl': tiqrAppIosUrl,
            } only %}
        {% endif %}
        {% if availableSecondFactors.u2f is defined %}
            {% include 'SurfnetStepupSelfServiceSelfServiceBundle::Registration/partial/secondFactor.html.twig' with {
                'type': 'u2f',
                'security': 3,
                'url': path('ss_registration_u2f_registration'),
                'tiqrAppAndroidUrl': tiqrAppAndroidUrl,
                'tiqrAppIosUrl': tiqrAppIosUrl,
            } only %}
        {% endif %}

        {% for type, secondFactor in availableGsspSecondFactors %}
            {% include 'SurfnetStepupSelfServiceSelfServiceBundle::Registration/partial/genericSecondFactor.html.twig' with {
            'type': type,
            'security': secondFactor.loa,
            'url': path('ss_registration_gssf_initiate', {'provider': type}),
            'tiqrAppAndroidUrl': tiqrAppAndroidUrl,
            'tiqrAppIosUrl': tiqrAppIosUrl,
            'secondFactor': secondFactor
            } only %}
        {% endfor %}
    </div>
{% endblock %}
