{% extends "base.html.twig" %}

{% block page_title %}{{ 'ss.registration.selector.title.welcome'|trans({'%name%': commonName}) }}{% endblock %}

{% block page_header %}
    {{ parent() }}

    {% include 'SurfnetStepupSelfServiceSelfServiceBundle:Registration/partial:progress_bar.html.twig' with {'progress': 1, 'step': 1, verifyEmail: verifyEmail} only %}
{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <div class="row second-factors">
        {% for type, secondFactor in availableSecondFactors.data %}
            {% if secondFactor.isGssp %}
                {% include 'SurfnetStepupSelfServiceSelfServiceBundle::Registration/partial/generic_second_factor.html.twig' with {
                    'type': type,
                    'security': secondFactor.loaLevel,
                    'url': path(secondFactor.route, secondFactor.routeParams),
                    'appAndroidUrl': secondFactor.viewConfig.androidUrl,
                    'appIosUrl': secondFactor.viewConfig.iosUrl,
                    'secondFactor': secondFactor.viewConfig
                } only %}
            {% else %}
                {% include 'SurfnetStepupSelfServiceSelfServiceBundle::Registration/partial/second_factor.html.twig' with {
                    'type': type,
                    'security': secondFactor.loaLevel,
                    'url': path(secondFactor.route),
                } only %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
