{% if app.request.locale == 'nl_NL' %}
    <p>"Welkom bij de identiteit verificatie test!</p>
    <p>Met deze test willen we kijken in hoeverre de persoonsgegevens van je instelling overeen komen met de gegevens uit een externe identificatie methode. Deze test doen we in registratieportal van SURFsecureID, die zorgt voor het registreren van een 2e factor login methode (token).</p>
    <p>Kies eerst een token om te registreren. Met de externe identificatie methode bevestig je je identiteit en wordt het token geactiveerd.</p>
    <p>Geef aan het einde van de test aan of de gegevens uit de verschillende bronnen overeen komen en wat je ervaring met het proces is geweest. </p>
    <p>Hulp nodig of wil je meer informatie? Gebruik de help link onderaan deze pagina.</p>
{% else %}
    <p>Welcome to the identity verification test!</p>
    <p>With this test we want to see to what extent the personal data of your institution corresponds with the data from an external identification method. We perform this test in the SURFsecureID registration portal, which registers a 2nd factor login method (token).</p>
    <p>First choose a token to register. With the external identification method you confirm your identity and the token is activated.</p>
    <p>At the end of the test, indicate whether the data from the different sources corresponds and what your experience with the process has been.</p>
    <p>Need help or want more information? Use the help link at the bottom of this page.</p>
{% endif %}
