includes:
    - ./phpstan-baseline.php
parameters:
    level: 9
    paths:
        - ../../src
    excludePaths:
        - ../../src/Surfnet/StepupSelfService/SelfServiceBundle/Tests
        - ../../src/Surfnet/StepupSelfService/SamlStepupProviderBundle/Tests
    treatPhpDocTypesAsCertain: false
