imports:
    - { resource: 'remote_vetting.yml' }

services:
    # To be compatible with loading services from the container instead of using DI, TODO, Utilize DI throughout the
    # application.
    _defaults: { public: true }

    logger:
      alias: 'monolog.logger'
      public: true

    surfnet_stepup_self_service_self_service.service.command:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\CommandService
        arguments:
            - "@surfnet_stepup_middleware_client.service.command"
            - "@security.token_storage"

    surfnet_stepup_self_service_self_service.service.second_factor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\SecondFactorService
        arguments:
            - "@surfnet_stepup_middleware_client.identity.service.second_factor"
            - "@surfnet_stepup_self_service_self_service.service.command"
        public: true

    surfnet_stepup_self_service_self_service.form.type.prove_yubikey_possession:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\ProveYubikeyPossessionType
        tags: [{ name: form.type, alias: ss_prove_yubikey_possession }]

    surfnet_stepup_self_service_self_service.form.type.send_sms_challenge:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\SendSmsChallengeType
        tags: [{ name: form.type, alias: ss_send_sms_challenge }]

    surfnet_stepup_self_service_self_service.form.type.verify_sms_challenge:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\VerifySmsChallengeType
        tags: [{ name: form.type, alias: ss_verify_sms_challenge }]

    surfnet_stepup_self_service_self_service.form.type.anchor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\AnchorType
        tags: [{ name: form.type, alias: anchor }]

    surfnet_stepup_self_service_self_service.form.type.verify_email:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\VerifyEmailType
        tags: [{ name: form.type, alias: ss_verify_email }]

    surfnet_stepup_self_service_self_service.form.type.revoke_second_factor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\RevokeSecondFactorType
        tags: [{ name: form.type, alias: ss_revoke_second_factor }]

    surfnet_stepup_self_service_self_service.form.type.initiate_gssf:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\InitiateGssfType
        arguments:
            - "@router"
        tags: [{ name: form.type, alias: ss_initiate_gssf }]

    surfnet_stepup_self_service_self_service.service.yubikey:
        public: false
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeyService
        arguments:
            - "@surfnet_stepup.guzzle.gateway_api"
            - "@logger"

    surfnet_stepup_self_service_self_service.service.gsspuserattributes:
      class: Surfnet\StepupSelfService\SelfServiceBundle\Service\GsspUserAttributeService
      arguments:
        - "@logger"

    surfnet_stepup_self_service_self_service.service.yubikey_second_factor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeySecondFactorService
        arguments:
            - "@surfnet_stepup_self_service_self_service.service.yubikey"
            - "@surfnet_stepup_self_service_self_service.service.command"
        public: true

    surfnet_stepup_self_service_self_service.service.sms_second_factor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\SmsSecondFactorService
        arguments:
            - "@surfnet_stepup.service.sms_second_factor"
            - "@translator"
            - "@surfnet_stepup_self_service_self_service.service.command"

    surfnet_stepup_self_service_self_service.service.gssf:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\GssfService
        arguments:
            - "@surfnet_stepup_self_service_self_service.service.command"

    self_service.service.application:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\ApplicationHelper
        arguments:
            $kernelProjectDir: "%kernel.project_dir%"

    self_service.service.identity:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\IdentityService
        arguments:
            - "@surfnet_stepup_middleware_client.identity.service.identity"
            - "@surfnet_stepup_self_service_self_service.service.command"
            - "@security.token_storage"
            - "@logger"

    self_service.service.locale_provider:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\LocaleProviderService
        arguments:
            - "@security.token_storage"

    self_service.service.ra:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\RaService
        arguments:
            - "@surfnet_stepup_middleware_client.identity.service.ra"

    self_service.service.ra_location:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\RaLocationService
        arguments:
            - "@surfnet_stepup_middleware_client.configuration.service.ra_location"

    self_service.service.institution_configuration_options:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\InstitutionConfigurationOptionsService
        arguments:
            - "@surfnet_stepup_middleware_client.configuration.service.institution_configuration_options"
        public: true

    self_service.service.global_view_parameters:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\GlobalViewParameters
        arguments:
            - "@translator"
            - "%locales%"
            - "%support_url%"

    self_service.test_second_factor_authentication_request_factory:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\TestSecondFactor\TestAuthenticationRequestFactory
        arguments:
            - '@surfnet_saml.hosted.service_provider'
            - '@self_service.second_factor_test_idp'

    self_service.event_listener.locale:
        class: Surfnet\StepupSelfService\SelfServiceBundle\EventListener\LocaleListener
        arguments: [ "@security.token_storage", "@translator" ]
        tags: [{ name: kernel.event_subscriber }]

    self_service.event_listener.locale_cookie:
        class: Surfnet\StepupBundle\EventListener\LocaleCookieListener
        arguments:
            - "@surfnet_stepup.locale_cookie_helper"
            - "@self_service.service.locale_provider"
            - "@logger"
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse, priority: 6 }

    self_service.locale.request_stack_locale_provider:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Locale\RequestStackLocaleProvider
        arguments:
            - "@request_stack"
            - '' # See extension
            - [] # See extension

    # Twig
    ra.twig.second_factor_type:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Twig\Extensions\Extension\SecondFactorType
        arguments:
            - "@surfnet_stepup.service.second_factor_type_translator"
        tags:
            - { name : twig.extension }
