services:
    # To be compatible with loading services from the container instead of using DI, TODO, Utilize DI throughout the
    # application.
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    logger:
        alias: 'monolog.logger'
        public: true

    Surfnet\StepupSelfService\SelfServiceBundle\Controller\:
        resource: '../../Controller'
        autowire: true
        tags: [ 'controller.service_arguments' ]
        bind:
            $testIdentityProvider: '@self_service.second_factor_test_idp'

    Surfnet\StepupSelfService\SelfServiceBundle\Service\ControllerCheckerService:

    Surfnet\StepupSelfService\SelfServiceBundle\Controller\RecoveryTokenController:
        arguments:
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\RecoveryTokenService'
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\SafeStoreService'
            - '@surfnet_stepup_self_service_self_service.service.second_factor'
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SmsRecoveryTokenService'
            - '@surfnet_stepup.service.loa_resolution'
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\AuthenticationRequestFactory'
            - '@surfnet_saml.http.redirect_binding'
            - '@surfnet_saml.http.post_binding'
            - '@surfnet_saml.hosted.service_provider'
            - '@surfnet_saml.remote.idp'
            - '@surfnet_saml.logger'
            - '@logger'

    Surfnet\StepupSelfService\SelfServiceBundle\Controller\SelfVet\SelfVetConsumeController:
        arguments:
            - "@logger"
            - "@surfnet_stepup_self_service_self_service.service.second_factor"
            - "@self_service.service.self_vet_marshaller"
            - "@surfnet_saml.hosted.service_provider"
            - '@surfnet_saml.remote.idp'
            - "@surfnet_saml.http.post_binding"
            - "@surfnet_saml.logger"
            - "@request_stack"

    surfnet_stepup_self_service_self_service.service.command:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\CommandService
        arguments:
            - "@surfnet_stepup_middleware_client.service.command"
            - "@security.token_storage"

    Surfnet\StepupSelfService\SelfServiceBundle\Service\SecondFactorService:
        alias: surfnet_stepup_self_service_self_service.service.second_factor

    surfnet_stepup_self_service_self_service.service.second_factor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\SecondFactorService
        arguments:
            - "@surfnet_stepup_middleware_client.identity.service.second_factor"
            - "@surfnet_stepup_self_service_self_service.service.command"
        public: true

    surfnet_stepup_self_service_self_service.form.type.prove_yubikey_possession:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\ProveYubikeyPossessionType
        tags: [{ name: form.type, alias: ss_prove_yubikey_possession }]

    surfnet_stepup_self_service_self_service.form.type.send_sms_challenge:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\SendSmsChallengeType
        tags: [{ name: form.type, alias: ss_send_sms_challenge }]

    surfnet_stepup_self_service_self_service.form.type.verify_sms_challenge:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\VerifySmsChallengeType
        tags: [{ name: form.type, alias: ss_verify_sms_challenge }]

    surfnet_stepup_self_service_self_service.form.type.anchor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\AnchorType
        tags: [{ name: form.type, alias: anchor }]

    surfnet_stepup_self_service_self_service.form.type.verify_email:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\VerifyEmailType
        tags: [{ name: form.type, alias: ss_verify_email }]

    surfnet_stepup_self_service_self_service.form.type.revoke_second_factor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\RevokeSecondFactorType
        tags: [{ name: form.type, alias: ss_revoke_second_factor }]

    surfnet_stepup_self_service_self_service.form.type.status_gssf:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Form\Type\StatusGssfType
        arguments:
            - "@router"
        tags: [{ name: form.type, alias: ss_status_gssf }]

    Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeyServiceInterface:
        public: false
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeyService
        arguments:
            - "@surfnet_stepup.guzzle.gateway_api"
            - "@logger"

    surfnet_stepup_self_service_self_service.service.yubikey:
        alias: Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeyServiceInterface

    surfnet_stepup_self_service_self_service.service.gsspuserattributes:
      class: Surfnet\StepupSelfService\SelfServiceBundle\Service\GsspUserAttributeService
      arguments:
        - "@logger"
    Surfnet\StepupSelfService\SelfServiceBundle\Service\GsspUserAttributeService:
        alias: surfnet_stepup_self_service_self_service.service.gsspuserattributes

    surfnet_stepup_self_service_self_service.service.yubikey_second_factor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeySecondFactorService
        arguments:
            - "@surfnet_stepup_self_service_self_service.service.yubikey"
            - "@surfnet_stepup_self_service_self_service.service.command"
        public: true

    Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeySecondFactorService:
        alias: surfnet_stepup_self_service_self_service.service.yubikey_second_factor

    surfnet_stepup_self_service_self_service.service.sms_second_factor:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\SmsSecondFactorService
        arguments:
            - "@surfnet_stepup.service.sms_second_factor"
            - "@translator"
            - "@surfnet_stepup_self_service_self_service.service.command"
    Surfnet\StepupSelfService\SelfServiceBundle\Service\SmsSecondFactorService:
        alias: surfnet_stepup_self_service_self_service.service.sms_second_factor

    Surfnet\StepupSelfService\SelfServiceBundle\Service\SmsRecoveryTokenService:
        arguments:
            - '@Surfnet\StepupBundle\Service\SmsRecoveryTokenServiceInterface'
            - "@translator"
            - "@surfnet_stepup_self_service_self_service.service.command"
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\RecoveryTokenState'

    surfnet_stepup_self_service_self_service.service.gssf:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\GssfService
        arguments:
            - "@surfnet_stepup_self_service_self_service.service.command"
    Surfnet\StepupSelfService\SelfServiceBundle\Service\GssfService:
        alias: surfnet_stepup_self_service_self_service.service.gssf

    self_service.service.self_vet_marshaller:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfVetMarshaller
        arguments:
            - "@surfnet_stepup_self_service_self_service.service.second_factor"
            - '@Surfnet\StepupBundle\Service\SecondFactorTypeService'
            - "@self_service.service.institution_configuration_options"
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\AuthorizationService'
            - "@logger"

    self_service.service.self_asserted_tokens_marshaller:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokensMarshaller
        arguments:
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\AuthorizationService'
            - "@logger"

    Surfnet\StepupSelfService\SelfServiceBundle\Service\VettingTypeService:
        arguments:
            - '@self_service.service.self_vet_marshaller'
            - '@self_service.service.self_asserted_tokens_marshaller'
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\ActivationFlowService'
            - '@Surfnet\StepupMiddlewareClientBundle\Identity\Service\VettingTypeHintService'
            - '@logger'

    Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\RecoveryTokenConfig:
        arguments:
            - '%recovery_method_sms_enabled%'
            - '%recovery_method_safe_store_code_enabled%'

    Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\RecoveryTokenService:
        arguments:
            - '@Surfnet\StepupMiddlewareClientBundle\Identity\Service\RecoveryTokenService'
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\SafeStoreService'
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\RecoveryTokenState'
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\RecoveryTokenConfig'
            - '@logger'

    Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\RecoveryTokenState:
        arguments:
            - '@request_stack'

    Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\SafeStoreService:
        arguments:
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\RecoveryTokenState'
            - '@surfnet_stepup_self_service_self_service.service.command'

    Surfnet\StepupSelfService\SelfServiceBundle\Service\AuthorizationService:
        arguments:
            - '@Surfnet\StepupMiddlewareClientBundle\Identity\Service\AuthorizationService'

    Surfnet\StepupSelfService\SelfServiceBundle\Service\ActivationFlowService:
        arguments:
            - '@Surfnet\StepupSelfService\SelfServiceBundle\Security\Authentication\AuthenticatedSessionStateHandler'
            - "@security.token_storage"
            - "@logger"
            - '' # See extension
            - [] # See extension
            - '' # See extension
            - [] # See extension


    Surfnet\StepupSelfService\SelfServiceBundle\Service\IdentityService:
        arguments:
            - "@surfnet_stepup_middleware_client.identity.service.identity"
            - "@surfnet_stepup_self_service_self_service.service.command"
            - "@security.token_storage"
            - "@logger"


    Surfnet\StepupSelfService\SelfServiceBundle\Service\SecondFactorAvailabilityHelper:
        arguments:
            $viewConfigCollection: '@Surfnet\StepupBundle\Value\Provider\ViewConfigCollection'

    self_service.service.locale_provider:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\LocaleProviderService
        arguments:
            - "@security.token_storage"

    self_service.service.ra:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\RaService
        arguments:
            - "@surfnet_stepup_middleware_client.identity.service.ra"
            - "@surfnet_stepup_self_service_self_service.service.command"
    Surfnet\StepupSelfService\SelfServiceBundle\Service\RaService:
        alias: self_service.service.ra

    self_service.service.ra_location:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\RaLocationService
        arguments:
            - "@surfnet_stepup_middleware_client.configuration.service.ra_location"
    Surfnet\StepupSelfService\SelfServiceBundle\Service\RaLocationService:
        alias: self_service.service.ra_location

    self_service.service.institution_configuration_options:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\InstitutionConfigurationOptionsService
        arguments:
            - "@surfnet_stepup_middleware_client.configuration.service.institution_configuration_options"
        public: true

    self_service.service.global_view_parameters:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\GlobalViewParameters
        arguments:
            - "@translator"
            - "%locales%"
            - "%support_url%"

    self_service.test_second_factor_authentication_request_factory:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\TestSecondFactor\TestAuthenticationRequestFactory
        arguments:
            - '@surfnet_saml.hosted.service_provider'
            - '@self_service.second_factor_test_idp'

    Surfnet\StepupSelfService\SelfServiceBundle\Service\SelfAssertedTokens\AuthenticationRequestFactory:
        arguments:
            - "@surfnet_saml.hosted.service_provider"
            - "@self_service.second_factor_test_idp"

    self_service.event_listener.locale:
        class: Surfnet\StepupSelfService\SelfServiceBundle\EventListener\LocaleListener
        arguments: [ "@security.token_storage", "@translator" ]
        tags: [{ name: kernel.event_subscriber }]

    self_service.event_listener.locale_cookie:
        class: Surfnet\StepupBundle\EventListener\LocaleCookieListener
        arguments:
            - "@surfnet_stepup.locale_cookie_helper"
            - "@self_service.service.locale_provider"
            - "@logger"
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse, priority: 6 }

    self_service.locale.request_stack_locale_provider:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Locale\RequestStackLocaleProvider
        arguments:
            - "@request_stack"
            - '' # See extension
            - [] # See extension

    # Twig
    ra.twig.second_factor_type:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Twig\Extensions\Extension\SecondFactorType
        arguments:
            - "@surfnet_stepup.service.second_factor_type_translator"

    Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeySecondFactorServiceInterface:
        class: Surfnet\StepupSelfService\SelfServiceBundle\Service\YubikeySecondFactorService
        arguments:
            $commandService: "@surfnet_stepup_self_service_self_service.service.command"
